<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ "LOGIN.TITLE" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>{{ "LOGIN.LOGIN" | translate }}</ion-label>
        <ion-input type="text" name="username" ngModel required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        {{ "LOGIN.INVALIDO.LOGIN" | translate }}
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>{{ "LOGIN.SENHA" | translate }}</ion-label>
        <ion-input type="password" name="password" ngModel required #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        {{ "LOGIN.INVALIDO.SENHA" | translate }}
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!form.valid">{{ "LOGIN.BOTAO.ENTRAR" | translate }}</button>
      </div>

      <!-- <div padding>
        <button ion-button color="secondary" block type="button" (click)="signup()">Sign up</button>
      </div> -->
    </ion-list>
  </form>
</ion-content>