<div></div>
<!-- utilizar da mesma forma que na tela de treino, fonte https://angular.io/guide/component-interaction#parent-interacts-with-child-via-local-variable -->
<!-- <div> -->
  <!-- <ion-item class="no-bottom-border item">
    <h1 text-center color="primary" class="timer-button timer-text"></h1>
  </ion-item> -->
<!-- </div> -->
<!-- <div text-center> -->
  <!-- <button ion-button clear icon-only >
    <ion-icon name="arrow-back"></ion-icon>
  </button> -->
  <!-- <button ion-button clear icon-only (click)="pauseTimer()" >
    <ion-icon name="pause"></ion-icon>
  </button> -->
  <!-- <button ion-button clear icon-only >
    <ion-icon name="checkmark"></ion-icon>
  </button> -->
  <!-- <button ion-button clear icon-only >
    <ion-icon name="arrow-forward"></ion-icon>
  </button> -->
<!-- </div> -->
<!-- 
<ion-fab left *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
  <button ion-fab color="primary" (click)="pauseTimer()">
    <ion-icon name="pause"></ion-icon>
  </button>
</ion-fab>
<ion-fab left *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
  <button ion-fab color="primary" (click)="resumeTimer()">
    <ion-icon name="play"></ion-icon>
  </button>
</ion-fab>
<ion-fab  left *ngIf="!timer.hasStarted"> //show only if timer has not started
  <button ion-fab color="primary" (click)="startTimer()" item-right>
    <ion-icon name="play"></ion-icon>
  </button>
</ion-fab>

<ion-fab  right *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
  <button ion-fab color="danger" (click)="initTimer()" item-left>
    <ion-icon name="refresh"></ion-icon>
  </button>
</ion-fab> -->