page-minha-conta {

    .container {

        margin-top: 5%;
        
        h2 {
            margin: 10% 0 10% 0;
        }

        ion-grid {
            margin: 0px 25px 0px 25px;
        }

    }
}
