<!--
  Generated template for the TreinoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'TREINO.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-split-pane>
    <timer #timerPrincipal></timer>
    <ion-grid no-padding text-center style="height: 100%"> 
      <ion-row>
        <ion-col class="borda-inferior">
          <h2>{{treinoData?.treino?.nome}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="tempo-text">
          {{"TREINO.TEMPO.TOTAL" | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cronometro-principal">
          <div>{{timerPrincipal.timer.displayTime}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [ngClass]="(exercicioAtual?.completo)?'completo':'incompleto'">
          {{"TREINO.COMPLETO" | translate}}{{ percentualCompleto }} %
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button clear icon-only (click)="exercicioAnterior()" color="primary">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="pause()" color="primary">
            <ion-icon name="pause"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="completarExercicio()" color="primary">
            <ion-icon name="checkmark"></ion-icon>
          </button>
          <button ion-button clear icon-only (click)="proximoExercicio()" color="primary">
              <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="borda-inferior borda-superior">
        <ion-col justify-content-center align-items-center style="height: 100%">
          <button class="icone-info-exercicio" ion-button icon-only (click)="detalharExercicio()" clear>
            {{ exercicioAtual?.treinoExercicio?.exercicio?.nome }}
            <ion-icon name=information-circle></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="borda-inferior" text-center>
        
        <ion-col col-4 class="dados-exercicio" *ngIf=" exercicioAtual?.treinoExercicio?.tipoTreinoExercicio == 'CARGA_REPETICOES' ">
          {{ "TREINO.SERIES" | translate }}{{ exercicioAtual?.treinoExercicio?.series}} 
        </ion-col>
        <ion-col col-6 class="dados-exercicio" *ngIf=" exercicioAtual?.treinoExercicio?.tipoTreinoExercicio != 'CARGA_REPETICOES' ">
          {{ "TREINO.SERIES" | translate }}{{ exercicioAtual?.treinoExercicio?.series}} 
        </ion-col>

        <ion-col col-4 *ngIf=" exercicioAtual?.treinoExercicio?.tipoTreinoExercicio == 'CARGA_REPETICOES' " class="dados-exercicio">
            {{ "TREINO.REPETICOES" | translate }}{{ exercicioAtual?.treinoExercicio?.repeticoes }}
        </ion-col>
        <ion-col col-4 *ngIf=" exercicioAtual?.treinoExercicio?.tipoTreinoExercicio == 'CARGA_REPETICOES' " class="dados-exercicio">
            {{ "TREINO.CARGA" | translate }}{{ exercicioAtual?.treinoExercicio?.carga }}
        </ion-col>

        <ion-col col-6 *ngIf=" exercicioAtual?.treinoExercicio?.tipoTreinoExercicio == 'REPETICOES' " class="dados-exercicio">
            {{ "TREINO.REPETICOES" | translate }}{{ exercicioAtual?.treinoExercicio?.repeticoes }}
        </ion-col>

        <ion-col col-6 *ngIf=" exercicioAtual?.treinoExercicio?.tipoTreinoExercicio == 'TEMPO' " class="dados-exercicio">
          {{ "TREINO.TEMPO" | translate }}{{ exercicioAtual?.treinoExercicio?.tempoMin }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{idVideo}}
            <iframe *ngIf="idVideo != null && idVideo != '' " class="video" [src]="urlVideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <img *ngIf="idVideo == null || idVideo == '' " class="video" [src]="imagemSemVideo"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button color="primary" (click)="finalizar()" outline>
            {{ "TREINO.BOTAO.FINALIZAR" | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-split-pane>
</ion-content>
