<!--
  Generated template for the ListaTreinoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        {{ 'LISTAGEM.TREINOS.TITLE' | translate }}
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content no-padding>
    <ion-list>
      <ion-list-header>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-8 col-sm>{{ 'LISTAGEM.TREINOS.TREINO' | translate }}</ion-col>
            <ion-col col-4 col-sm>{{ 'LISTAGEM.TREINOS.DATA' | translate }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header>
      <button ion-item (click)="iniciarTreino(treinoData)" *ngFor="let treinoData of treinosData; let i = index">
        <ion-grid no-padding>
          <ion-row *ngIf=" dataAtual == treinoData.data " class="sobrescrito">Hoje</ion-row>
          <ion-row *ngIf=" i == 0 && dataAtual != treinosData[0].data " class="sobrescrito" >Próximos</ion-row>
          <ion-row *ngIf=" i == 1 && dataAtual == treinosData[0].data " class="sobrescrito" >Próximos</ion-row>
          <ion-row>
            <ion-col col-8 col-sm>
              {{ treinoData.treino.nome }}
            </ion-col>
            <ion-col col-4 col-sm>
              {{ treinoData.data | date: "dd/MM" }}
            </ion-col>
          </ion-row>
        </ion-grid> 
      </button>
    </ion-list>
</ion-content>

<!-- icone open -->