<ion-split-pane>
    <ion-menu [content]="menu" persistent = 'true' *ngIf="token">
        <ion-content>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="./assets/imgs/logo.png"/>
                </ion-thumbnail>
                
                <h1>{{ 'APP.NAME' | translate }}</h1> 
                <button ion-button color="danger" (click)="logout()">Sair</button>
                
            </ion-item>
            <ion-list>
                <button ion-item menuClose
                *ngFor="let pagina of paginas"
                (click)="irParaPagina(pagina.componente)">
                    <ion-icon [name]="pagina.icone" item-left ></ion-icon>
                    {{ pagina.titulo | translate }}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-nav main #menu [root]="rootPage" swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
