<ion-split-pane>
    <ion-menu [content]="menu" persistent = 'true'>
        <ion-content>
            <div ion-item no-lines>
                <ion-thumbnail class="logo" item-start>
                    <img src="./assets/imgs/logo6.png"/>
                </ion-thumbnail>
                
                <h3 class="app-title">{{ 'APP.NAME' | translate }}</h3> 
                
            </div>
            <div text-center ion-item no-lines>
                <h4 class="bem-vindo" *ngIf="pessoalogada?.genero == 'MASCULINO' ">{{"APP.BEM.VINDO" | translate}}</h4>
                <h4 class="bem-vindo" *ngIf="pessoalogada?.genero !== 'MASCULINO' ">{{"APP.BEM.VINDO" | translate}}</h4>
                <h3 class="nome-pessoa">{{ pessoalogada?.nome }}</h3>
            </div>
            <ion-list>
                <button class="item-menu" ion-item menuClose
                    *ngFor="let pagina of paginas"
                    (click)="irParaPagina(pagina.componente)">
                        <ion-icon color='primary' [name]="pagina.icone" item-left ></ion-icon>
                        {{ pagina.titulo | translate }}
                </button>
                <button class="item-menu-sair" menuClose ion-item (click)="logout()">
                    <ion-icon color='danger' name="exit" item-left></ion-icon>
                    {{"APP.SAIR" | translate}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-nav main #menu [root]="rootPage"></ion-nav>
</ion-split-pane>
