
<ion-header>

  <ion-navbar>
    <ion-title>{{"DOBRAS.CUTANEAS.TITLE" | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="formDobras" (ngSubmit)="proximaEtapa()" #form="ngForm">
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.ABDOMINAL" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.abdominal" 
        formControlName="abdominal"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.AXILAR.MEDIA" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.axilarMedia" 
        formControlName="axilarMedia"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.BICITAL" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.bicital" 
        formControlName="bicital"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.COXA" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.coxa" 
        formControlName="coxa"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.PANTURRILHA" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.panturrilha" 
        formControlName="panturrilha"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.PEITORAL" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.peitoral" 
        formControlName="peitoral"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed *ngIf="isProtocoloGuedes">{{"DOBRAS.CUTANEAS.SUBESCAPULAR" | translate }}</ion-label>
      <ion-label fixed *ngIf="!isProtocoloGuedes">{{"DOBRAS.CUTANEAS.SUBESCAPULAR.OBRIG" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.subescapular" 
        formControlName="subescapular"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed *ngIf="isProtocoloGuedes">{{"DOBRAS.CUTANEAS.SUPRAILIACA.OBRIG" | translate }}</ion-label>
      <ion-label fixed *ngIf="!isProtocoloGuedes">{{"DOBRAS.CUTANEAS.SUPRAILIACA" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.supraIliaca" 
        formControlName="supraIliaca"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed *ngIf="isProtocoloGuedes">{{"DOBRAS.CUTANEAS.TORACICA" | translate }}</ion-label>
      <ion-label fixed *ngIf="!isProtocoloGuedes">{{"DOBRAS.CUTANEAS.TORACICA.OBRIG" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.toracica" 
        formControlName="toracica"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"DOBRAS.CUTANEAS.TRICIPAL" | translate }}</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="avaliacaoFisica.avaliacaoAntropometrica.dobrasCutaneas.tricipal" 
        formControlName="tricipal"></ion-input>
      <span item-end>{{"DOBRAS.CUTANEAS.MM" | translate}}</span>
    </ion-item>
  </form>
  <ion-fab bottom right>
    <button 
      [disabled]="!formDobras.valid"
      (click)="form.ngSubmit.emit()"
      ion-fab color="primary">
        <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
